.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.feedback-input {
    color: #CCCCCC;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #C0C0C0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 25px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #c2b4b4; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    width: 100%;
    background:#C0C0C0;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:333333;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background:#857e7e; }

@media (max-width: 852px) {
    .feedback-input{
        width: 100%;
        
    }

    [type="submit"] {
        width: 100%;
    }
}